        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer" ng-class="{'pull-bottom': is('app.maps.vector') }">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="font-montserrat">Rakesh Ranjan</span>.
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <span class="hint-text">Project Dashboard</span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->
